html,
body {
  font-family: din-round, sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

p {
  line-height: 20px;
}

.body-view {
  display: grid;
  /* grid-gap: 0; */
  grid-template-columns: 2fr 4fr;
}
.grid-box {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  /* padding: 0;
  margin: 0; */
  overflow: auto;
  height: 100vh;
}

#map-view {
  position: relative;
  width: 100%;
  height: 100%;
}

.abt-project {
  padding: 20px;
  color: #fff;
}

#sidebar {
  z-index: 99;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  width: 320px;
}

.hidden {
  grid-template-columns: 0fr 4fr;
}

.hide-tab-btn {
  position: absolute;
  z-index: 100;
  left: 80px;
  top: 15px;
}
.reset-view-btn {
  position: absolute;
  z-index: 100;
  left: 80px;
  top: 75px;
}

#project-info {
  position: absolute;
  left: 80px;
  top: 135px;
  background-color: black;
  opacity: 0.75;
  color: orange;
  font-size: 18pt;
  padding: 8px;
  visibility: hidden;
}

/* CSS */
.btn {
  appearance: button;
  background-color: #052f46;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: din-round, sans-serif;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
}

.btn:after {
  background-clip: padding-box;
  background-color: #145374;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.btn:main,
.btn:focus {
  user-select: auto;
}

.btn:hover:not(:disabled) {
  filter: brightness(1.1);
}

.btn:disabled {
  cursor: auto;
}
